/* Styles pour les onglets */
.tabs {
    list-style: none;
    padding: 0;
}

.tabs li {
    display: inline;
    margin-right: 10px;
}

/* Styles pour les sections */
.section {
    display: none;
}

.section-title {
    font-weight: bold;
}

/* Affiche la première section par défaut */
#experience {
    display: block;
}
